html{
  background-color: #416967;

}
body{
  padding: 0;
  margin: 0;
}

#titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
  #grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 600px;
    height: auto;
    border: 5px solid dimgray;
  }
  #grid-container:hover{
    cursor: cell;
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    
  }
#buttonContainer{
    margin-bottom: 50px;
    text-align: center;
}
  #cleaner{
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: dimgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  #cleaner:hover{
    cursor: pointer;
    text-overflow: ellipsis;
    background-color: #48494B;
  }
  #cleaner:focus{
    outline: none;
  }