body{
    background-color: rgb(93, 141, 113);
}


#titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 600px;
    border: 5px solid dimgray;
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    
  }

  #superContainer{
      display: flex;
      justify-content: center;
      
  }
/*.grid-item:hover{
    background-color: dodgerblue;
    transition: 0s;

}*/
