html{
  background-color: #416967;

}
body{
  padding: 0;
  margin: 0;
}

#titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#super-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
  #grid-container {
    display: grid;
    width: 550px;
    height: 550px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 5px solid dimgray;
  }
  #grid-container:hover{
    cursor: cell;
  }

  .grid-item {
    border: 1px solid white;
    }

#buttonContainer{
    margin-bottom: 30px;
    text-align: center;
}
  #cleaner{
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: dimgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  #cleaner:hover{
    cursor: pointer;
    text-overflow: ellipsis;
    background-color: #48494B;
  }
  #cleaner:focus{
    outline: none;
  }